{% extends "base.html.twig" %}



{% block title %}User{% endblock %}

{% block content %}
    <h1>User</h1>

    <p>First Name: {{ first_name }}</p>
    <p>Last Name: {{ last_name }}</p>
    <p>Middle Name: {{ middle_name }}</p>
    <p>Gender: {{ gender }}</p>
    <p>Birth Date: {{ birth_date }}</p>
    <p>Email: {{ email }}</p>
    <p>Phone: {{ phone }}</p>
    <img src="{{ avatar_path }}" alt=""/>

    <form action="/user/update" method="post" enctype="multipart/form-data">
        <div>
            <label for="first_name">First Name:</label>
            <input name="first_name" id="first_name" type="text" value={{ first_name }}>
        </div>
        <div>
            <label for="last_name">Last Name:</label>
            <input name="last_name" id="last_name" type="text" value={{ last_name }}>
        </div>
        <div>
            <label for="middle_name">Middle Name:</label>
            <input name="middle_name" id="middle_name" type="text" value={{ middle_name }}>
        </div>
        <div>
            <label for="gender">Gender:</label>
            <input name="gender" id="gender" type="text" value={{ gender }}>
        </div>
        <div>
            <label for="birth_date">Birth Date:</label>
            <input name="birth_date" id="birth_date" type="date" value= {{ birth_date }}>
        </div>
        <div>
            <label for="email">Email:</label>
            <input name="email" id="email" type="text" value={{ email }}>
        </div>
        <div>
            <label for="phone">Phone number:</label>
            <input name="phone" id="phone" type="text" value={{ phone }}>
        </div>
        <div>
            <label for="avatar">Avatar Path:</label>
            <input name="avatar" id="avatar" type="file" accept="image/jpeg, image/png, image/gif"/>
        </div>
        <div>
            <input type="hidden" name="user_id" id="user_id" value={{ id }}>
        </div>

        <button type="submit" name="update">Update</button>
    </form>
    <form action="/user/delete" method="post" enctype="multipart/form-data">
        <div>
            <input type="hidden" name="user_id" id="user_id" value={{ id }}>
        </div>
        <button type="submit" name="delete">Delete User</button>
    </form>
{% endblock %}




